body{
  display: flex;
  justify-content:center ;
  align-items:center ;
  background: url(../../assets/error.png) no-repeat;
  background-size: cover;
  background-position: center;
  width: 720px;
  height: 520px;
  margin: auto;

}
